body {
  margin: 0;
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
}

p, h1, h2, h3 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.tudo {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.bikcraft-svg {
  display: block;
  justify-self: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

nav a {
  padding: 15px 25px;
  background: #fff;
  color: #111;
  text-decoration: none;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 470px;
  position: relative;
}

.info-bicicletas {
  padding: 80px 30px;
  text-align: end;
  background: #fff;
}

.info-bicicletas p {
  margin-top: 25px;
}

.lista-vantagens {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #fff;
}

.vantagens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px 20px;
}

.vantagens p {
  grid-column: 2;
}

p {
  font-size: 20px;
}

.info-bicicletas a {
  text-decoration: none;
  background: #ee2211;
  color: #fff;
  padding: 10px 20px;
  display: block;
  width: 77px;
  justify-self: end;
  margin-top: 20px;
  border-radius: 4px;
}

h2 {
  font-size: 64px;
  text-align: end;
  color: #c6c6c6;
  padding-right: 30px;
}

h3 {
  align-self: center;
}

footer {
  text-align: center;
  background: #fff;
  padding: 35px 0;
}

.titulo-cinza {
  align-content: center;
}

span {
  position: absolute;
  width: 60px;
  height: 4px;
  background: #ee2211;
  border: #ee2211;
  z-index: 3;
  right: 452px;
  top: 30px;
}